<html>
    <head></head>
    <body>
        <div class="container wrapper">
            <div class="row mb-3">
                <div class="col-md-12">
                    <div id="autocomplete-wrapper"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8"><div id="map-wrapper"></div></div>
                <div class="col-md-4"><div id="markers-wrapper"></div></div>
            </div>
        </div>
    </body>
</html>